.main_div {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  margin-top: 2rem;
  border-bottom: 10px solid rgb(227, 227, 227);
}
.photo {
  width: 10rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}
