@media screen {
  

.Headind {
  display: flex;
  justify-content: flex-start;
}
.name {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
.value {
  margin-left: 9.5rem;
  margin-top: 10px;
}
.value > span {
  font-size: smaller;
}

}